// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome 4.7.0
@import '~font-awesome-sass/assets/stylesheets/_font-awesome';
// Select2
@import '~select2/dist/css/select2.css';
.navbar-dapurpedia {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
    .img-carousel-item {
        height: 300px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center !important;
    }
    .static-carousel {
        width: 100%;
        height: 333px;
        max-height: 333px;
    }
}

.link-unstyled {
    color: inherit;
}

.link-unstlyed:hover {
    text-decoration: none;
    color: inherit;
}